.message-form {
    display: flex;
    align-items: flex-end; 
    padding: 10px 15px;
    background-color: #f0f2f5; 
    gap: 10px;
    border-top: 1px solid #d1d7db;
    position: sticky;
    bottom: 0;
    width: 100%;
}


.input-container {
    flex: 1;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px 10px;
}

.message-input {
    width: 100%;
    border: none;
    outline: none;
    resize: none; 
    font-size: 15px;
    font-family: inherit;
    padding: 5px;
    background: transparent;
    max-height: 120px; 
    display: block;
    scroll-margin-bottom: 20px;
}

.send-button {
    background: none;
    border: none;
    color: #54656f; 
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.send-button:hover {
    color: #1fa855; 
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

@media (max-width: 768px) {
    .content-wrapper { 
        height: 100dvh !important; 
        display: flex;
        flex-direction: column;
    }

    .message-form {
        position: relative; 
        bottom: 0;
        padding-bottom: 12px; 
        border-radius: 0;
    }
}

